{% extends 'base.html' %}

{% block ng_controller %}StateListControl{% endblock ng_controller %}

{% block content %}
{% verbatim %}
<div id="stateList" hidden>
    <label for="pageSize">Number of Items per page</label>
    <div id="pageSize" class="input-group col-sm-2">
      <input type="number" class="form-control" ng-model="pageSize">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="resetPageSize()" type="button">Go!</button>
      </span>
    </div>
    <h6>Showing {{currentBegin}} to {{currentEnd}} of {{totalStates}}...</h6>
    <ul ng-init="initializeList()">
        <li ng-repeat="state in stateList">{{state.title}}</li>
    </ul>
    <uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="pageNum" max-size="maxSize" class="pagination-sm" ng-change="loadPage()" boundary-links="true" force-ellipses="true"></uib-pagination>
</div>
{% endverbatim %}

{% endblock content %}

